.back-office {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;

    .status {
      &-green {
        padding: 5px;
        border-radius: 5px;
        background-color: lightgreen;
      }
      &-red {
        padding: 5px;
        border-radius: 5px;
        background-color: lightcoral;
      }
      &-yellow {
        padding: 5px;
        border-radius: 5px;
        background-color: lightyellow;
      }
    }
  }
}

.report-image {
  max-width: 800px;
  max-height: 500px;
}

.mapbox-container {
  height: 800px;
  width: 1000px;
}
