html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;

  scroll-behavior: smooth;

  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.eco-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__close {
    width: 40px;
    height: 40px;
    background: url(../public/assets/images/x.svg) no-repeat right;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  > div:nth-child(3) {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      margin-bottom: 20px;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    }
  }
}

.pop-notification[class] {
  word-break: break-word;
}

body {
  .Toastify {
    &__toast {
      min-height: 32px;
      padding: 0 16px 0 0;

      &-container {
        max-width: 320px;
        width: initial;
      }

      &--success {
        background-color: lightgreen;
        color: green;

        .Toastify__toast-icon {
          background: url(../public/assets/images/x.svg) no-repeat right;
        }
      }

      &--error {
        background-color: lightcoral;
        color: red;

        .Toastify__toast-icon {
          background: url(../public/assets/images/x.svg) no-repeat right;
        }
      }

      &-icon {
        width: 14px;
        height: 14px;
        margin-right: 8px;
        > svg {
          display: none;
        }
      }
    }
  }
}
